<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/head_style.css">
  </head>
  <body>
    <div class="hat">
      <img src="static/img/logo.svg">
      <a href="/an_page"><button type="button" class="h_but" id="hb1">аналитика</button></a>
      <img src="static/img/Line.svg">
      <a href="/user_set_page"><button type="button" class="h_but" id="hb2">управление пользователями</button></a>
      <img src="static/img/Line.svg">
      <a href="/bot_set_page"><button type="button" class="h_but" id="hb3">управление ботом</button></a>
    </div>
  </body>
</html>
